*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    background-color: #333;
    color: rgb(212, 212, 212);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.form {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.form-location {
    flex: 1;
    background: none;
    padding: 5px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
}

.form-error-message {
    display: none;
    color: red;
}

.form input {
    color: #eee;
}

.error{
    display: block;
}

.submit {
    background: none;
    border: none;
}

.submit img {
    height: 25px;
    width: 25px;
}

.card {
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 520;
    width: calc(400px + 10vw);
    height: calc(300px + 5vh);
}

.card .name {
    font-size: 3rem;
}